body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: #ffffff;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 0 3px rgba(74,144,226,0.15);
}

textarea {
    height: 90px;
    resize: none;
}

input[type="submit"] {
    background: #4a90e2;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 18px;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background: #357ABD;
}

#hide{
    display: none;
}